
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

    <bean id="dev" class="com.diya.dev">
    <!-- <property name="age" value="20"></property> property tag is used to set the value of the property - SETTER INJECTION-->
    <!-- <property name="laptop" ref="lap1"/>ref tag is used to refer to another bean -->
    <!-- <constructor-arg value="20"></constructor-arg> constructor-arg tag is used to set the value of the constructor argument- CONSTRUCTOR INJECTION -->

    <constructor-arg ref="lap1"></constructor-arg> <!-- constructor-arg tag is used to set the value of the constructor argument- CONSTRUCTOR INJECTION -->
    </bean>
    <bean id="lap1" class="com.diya.laptop">
    </bean> 
    <!-- number of beans = number of objects created -->
</beans>